body {
    padding: 2%;
    border: 10% solid rgb(0, 0, 0); 
}


*{
    font-family: cursive;
    
}

h2{
    border: 5px solid rgb(0, 0, 0);
}

pre{
    padding: 2%;
    text-align: justify;
    background-color: blanchedalmond;
}
.img1{
    width: 300px;
    padding: 15px;
    float: left;
}

.img2{
    width: 400px;
    padding: 15px;
    float: left;
}

.img3{
    width: 300px;
    padding: 15px;
    float: left;
}

.img4{
    width: 300px;
    padding: 15px;
    float: left;
}