
.derecha{
    width: 500px;
    padding: 15px;
    float: left;
}


body {
    padding: 4%;
    border: 10% solid rgb(66, 65, 62); 
}

*{
    font-family: cursive;
    
}

h2{
    border: 5px solid rgb(13, 13, 14);
    border-width: 4px;
    
}


footer {
    text-align: center;
    font-size: 15px;
}

.text1{
    padding: 6%;
    text-align: justify;
    background-color: beige;
}

.text2{
    padding: 6%;
    text-align: justify;
    background-color: beige;
}

.text3{
    padding: 6%;
    text-align: justify;
    background-color: beige;
}

.text4{
    padding: 6%;
    text-align: justify;
    background-color: beige;
}

